body {
  margin:0px;
  background-color:rgba(21, 24, 29, 1);
  background-image:none;
  position:static;
  left:auto;
  width:500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-50px;
  top:196px;
  width:600px;
  height:194px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:194px;
}
#u1 {
  position:absolute;
  left:2px;
  top:89px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:150px;
  top:230px;
  width:370px;
  height:112px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:112px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:143px;
  top:357px;
  width:240px;
  height:55px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:55px;
}
#u5 {
  position:absolute;
  left:2px;
  top:20px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:168px;
  top:365px;
  width:202px;
  height:40px;
  font-size:20px;
  color:#868686;
  line-height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:40px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:143px;
  top:357px;
  width:240px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
body.a {  background-color:rgba(21, 24, 29, 1);
  background-image:none;
  position:static;
  left:auto;
  width:500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u2.a {
}
#u4.a {
}
#u6.a {
}
#u8.a {
}
