body {
  margin:0px;
  background-color:rgba(102, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:950px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-10px;
  top:173px;
  width:530px;
  height:234px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:234px;
}
#u1 {
  position:absolute;
  left:2px;
  top:109px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:190px;
  top:225px;
  width:290px;
  height:120px;
  color:#FFFFFF;
  line-height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:120px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:590px;
  top:230px;
  width:370px;
  height:126px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:126px;
}
#u5 {
  position:absolute;
  left:2px;
  top:55px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
